---
tabtitle: Screenshots in Space
desc: When i'm not dyin, i'm killin and then dyin
stylesheets: [gallery]
keywords: [eve online, screenshots]
image: https://0xf0xuments.0xf0xx0.eth.limo/eve-screenshots/CataclysmicVariable.png
imageDims:
    width: 1280
    height: 800
---
{{{header
    tabtitle
    "{{{wrappedlink 'home' '/'}}}{{{wrappedlink
                'cc-by-nc-sa 4.0'
                'https://creativecommons.org/licenses/by-nc-sa/4.0'
            }}}"
}}}
<div id='gallery'>
    {{{populategallery}}}
</div>
<hr />
<footer>{{{wrappedlink 'home' '/'}}}</footer>
