<!--
    developed on and for firefox
    if something doesnt work in chrome/safari, too bad
-->
<html>
    <head>
        <title>{{tabtitle}}</title>
        <link rel="stylesheet" type="text/css" href="src/styles/main.css" />
        {{{stylesheets}}}
        {{! Meta tags }}
        <meta charset='utf-8' />
        <meta name='number' content='3373' />
        <meta name='ship' content='assegai' />
        <meta name='arc' content='3'/>

        {{! OpenGraph }}
        {{! <meta name="og:site_name" content=""> }}
        <meta name='og:title' content='{{tabtitle}}' />
        <meta name='og:description' content='{{desc}}' />
        <meta name='og:url' content='https://0xf0xx0.eth.limo/{{path}}' />
        {{#if image}}
            <meta name='twitter:card' content='summary_large_image' />
            <meta name='og:image' content='{{image}}' />
            {{#if imageDims}}
                <meta name='og:image:width' content='{{imageDims.width}}' />
                <meta name='og:image:height' content='{{imageDims.height}}' />
            {{/if}}
        {{/if}}
        <meta name='og:type' content='website' />
        <meta name='theme-color' content='{{themecolor}}' data-react-helmet='true' />

        {{! standard }}
        <meta name='author' content='{{author}}' />
        <meta name='description' content='{{desc}}' />
        <meta name='generator' content='foxpower' />
        <meta name='keywords' content='{{keywords}}' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />

        {{! for cgol }}
        <link rel='icon' type='image/png' />
        <!-- util -->
        <!--
            imagine needin to import 10-30mb of js
            could never be me
            ...just ignore the 500gb of onionring js
        -->
        <script src='src/scripts/util.js' defer></script>
        <script src='src/scripts/cgol.js' defer></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
