---
tabtitle: Pixels Placed in (Dis)Order
desc: organic Home-grown free-range pixelsorts
stylesheets: [gallery]
keywords: [pixelsorting, pixelsort, glitch art]
image: https://0xf0xuments.0xf0xx0.eth.limo/pixelsort-gens/snowcapped-mountain/sorted.jpg
imageDims:
    width: 3008
    height: 1653
---
<div id='header'>
    <div>
        <h1>{{tabtitle}}</h1>
        <h2 id='headerlinks'>
            {{! i really want no whitespace }}
            <span class='section'>{{{wrappedlink 'home' '/'}}}
            </span><br />
            <span class='section'>other sorters
                <span>{{{wrappedlink 'iKatch' 'https://www.ikatch.net/pixelsort'}}}</span>{{!
        }}<span
                >{{{wrappedlink
                        'Jeffrey Thompson'
                        'https://jeffreythompson.org'
                    }}}</span>{{!
        }}<span>{{{wrappedlink
                        'r/pixelsorting'
                        'https://old.reddit.com/r/pixelsorting'
                    }}}</span>{{!
        }}</span><br />
            <span class='section'>{{{wrappedlink
                    'cc-by-nc-sa 4.0'
                    'https://creativecommons.org/licenses/by-nc-sa/4.0'
                }}}</span>
            <span class='section'>reload page if images don't finish loading</span>
        </h2>
    </div>
    <hr />
</div>
<div id='gallery'>
    {{{populategallery}}}
</div>
<hr />
<footer>made with pixelsort-go and gimp</footer>
